@import "base.css";

body {
    background: url(../images/pexels-natalie-bond-1204998.jpg) no-repeat center center fixed;
}

/* main section */

main {
    position: relative;
    padding: 180px 10% 60px;
}

h2, h3 {
    background-color: white;
    border: 2px solid #0B6801;
    padding: 15px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    display: inline-block;
}

.div-left {
    box-shadow: 1px 1px 5px black;
}

.div-right {
    box-shadow: -1px 1px 5px black;
}

.div-left h3 {
    position: absolute;
    top: -35px;
    left: -60px;
}

.div-right h3 {
    position: absolute;
    top: -35px;
    right: -60px;
}

main p {
    text-align: justify;
    padding: 15px;
}

main div {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 25px 15px 15px;
    margin-bottom: 60px;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    main {
        padding: 180px 15% 60px;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 180px 2% 60px;
    }

    h3 {
        text-align: center;
    }

    .div-left h3 {
        left: 50%;
        margin-left: -76px;
    }
    
    .div-right h3 {
        right: 50%;
        margin-right: -150px;
    }
    
}

