@import "base.css";

/* main section */
main {
    background-color: rgba(255, 255, 255, 0.4);
}

h2, h3 {
    background-color: white;
    border: 2px solid #0B6801;
    padding: 15px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

h3 {
    display: inline-block;
}

.div-left {
    box-shadow: 1px 1px 5px black;
}

.div-right {
    box-shadow: -1px 1px 5px black;
}

.div-left h3 {
    position: absolute;
    top: -35px;
    left: -90px;
}

.div-right h3 {
    position: absolute;
    top: -35px;
    right: -90px;
}

main p {
    text-align: justify;
    padding: 15px;
}

main div {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 25px 15px 15px;
    margin-top: 60px;
    border-radius: 5px;
}

/* media queries */

/* 900px and smaller */
@media screen and (max-width: 900px) {
    .div-left h3 {
        left: 30px;
    }
    
    .div-right h3 {
        right: 30px;
    }    
}

/* 600px and smaller */
@media screen and (max-width: 600px) {
    .div-left h3 {
        left: 50%;
        margin-left: -76px;
    }
    
    .div-right h3 {
        right: 50%;
        margin-right: -150px;
    }
}
