@import "base.css";

/* TESTING NEW FEATURE */

.order-details,
.booking-details {
    width: 600px;
    background-color: aqua;
    max-height: 0;
    overflow: hidden;
    padding: 0;
}

#order-products:checked ~ .order-details {
    max-height: 100%;
}

#book-event:checked ~ .booking-details {
    max-height: 100%;
}

/* END OF TESTING */


/* main section */
main {
    background-color: rgba(255, 255, 255, 0.4);
}

main header {
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 0 5% 40px;
    border: 2px solid #0B6801;
    box-sizing: border-box;
    border-radius: 5px;
}

address {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 30px 25%;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}

.email-address {
    padding: 5px;
}

/* contact form */
form {
    position: relative;
    padding-bottom: 80px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}

form div {
    width: 46%;
    padding: 15px 2%;
}

form label {
    display: block;
    padding-bottom: 5px;
}

form input,
textarea,
select {
    height: 30px;
    line-height: 30px;
    margin: 3px 0;
    border: 2px solid #0B6801;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    line-height: 18px;
}

.react-on-action:hover {
    border: 3px solid #0B6801;
    padding-left: 15px;
}

.react-on-action:focus {
    background-color: white;
    border: 3px solid #0B6801;
}

.full-name {
    float: left;
}

.div-message {
    width: 96%;
}

.submit-btn,
.reset-btn {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.submit-btn {
    border: none;
    padding: 10px 0;
    background-color: #0B6801;
    color: white;
    right: 28%;
}

.reset-btn {
    right: 3%;
    padding: 8px 0;
}

.submit-btn:hover {
    font-size: 30px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: red;
    cursor: pointer;
}

/* media queries */

/* 900px and smaller */
@media screen and (max-width: 900px) {
    main header {
        width: 100%;
        margin: 0 0 40px;
    }

    address {
        margin: 40px 0;
    }

    .submit-btn {
        left: 15%;
    }
    
    .reset-btn {
        right: 15%;
    }

    .submit-btn:hover {
        font-size: 30px;
    }
    
    .reset-btn:hover {
        background-color: red;
    }    
}

/* 600px and smaller */
@media screen and (max-width: 600px) {
    form {
        padding: 0 5% 150px;
    }

    form div {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .div-message {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .full-name {
        clear: both;
    }

    .submit-btn {
        bottom: 90px;
        left: 50%;
        margin-left: -75px;
    }
    
    .reset-btn {
        left: 50%;
        margin-left: -75px;
    }
}
