@import "base.css";

/* main section */
main {
    background-color: rgba(255, 255, 255, 0.4);
}

main header {
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 0 5% 40px;
    border: 2px solid #0B6801;
    box-sizing: border-box;
    border-radius: 5px;
}

address {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 30px 15%;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}

.email-address {
    padding: 5px;
}

/* contact form */
form {
    position: relative;
    padding: 5px 0 15px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}

form input {
    box-sizing: border-box;
}

fieldset {
    margin: 15px 2%;
    border: 1px solid black;
    border-radius: 5px;
}

fieldset legend {
    padding-bottom: 14px;
    margin-left: 5%;
}

.personnal-information > div {
    width: 40%;
    padding: 0 5%;
    margin-bottom: 15px;
    text-align: left;
}

.full-name {
    float: left;
}

.personnal-information input {
    height: 30px;
    line-height: 30px;
    border: 2px solid #0B6801;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
}

/* Style for the subject fieldset */
.subject {
    padding-bottom: 15px;
}

.select-subject > p {
    margin: 0 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.subject-item {
    padding: 0 10%;
}

.subject-choice {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.order-details,
.booking-details {
    max-height: 0;
    overflow: hidden;
}

#order-products:checked ~ .order-details {
    max-height: 100%;
}

#book-event:checked ~ .booking-details {
    max-height: 100%;
}

.shopping-element {
    padding: 0 15px 5px;
}

.shopping-element > * {
    display: inline-block;
}

.shopping-element p {
    line-height: 20px;
    vertical-align: middle;
    padding: 0 15px 15px;
}

.shopping-element > input {
    line-height: 20px;
    vertical-align: middle;
    width: 20%;
    text-align: right;
    margin-bottom: 12px;
    border: 1px solid #0B6801;
}

.shopping-element > input:hover {
    margin-bottom: 10px;
}

.shopping-element > label {
    display: block;
    font-weight: 600;
}

/* Style for the event booking fieldset */
.events {
    padding: 0 15px 15px;
}

.events > p {
    display: inline-block;
    margin-bottom: 5px;
}

.event-options {
    margin-left: 30px;
    padding-bottom: 15px;
}

.event-options > div {
    display: inline-block;
    margin-left: 5%;
}

.events > input {
    margin-left: 5px;
    text-align: right;
    border: 1px solid #0B6801;
}

.events > input:hover {
    margin-left: 2px;
}

/* Styling for the message fieldset */
textarea {
    width: 100%;
    min-height: 100px;
    line-height: 18px;
    border: 2px solid #0B6801;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
}

.div-message {
    margin: 0 5% 15px;
}

.react-on-action:hover {
    border: 3px solid #0B6801;
}

.react-on-action:focus {
    background-color: white;
    border: 3px solid #0B6801;
}

.buttons {
    margin: 0 20%;
    padding: 3px;
    text-align: center;
}

.submit-btn,
.reset-btn {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 24px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.submit-btn {
    border: none;
    padding: 10px 0;
    background-color: #0B6801;
    color: white;
    margin-right: 15%;
}

.reset-btn {
    padding: 8px 0;
}

.submit-btn:hover {
    font-size: 30px;
    cursor: pointer;
    padding: 1px 0;
}

.reset-btn:hover {
    background-color: red;
    cursor: pointer;
}

/* media queries */

/* 900px and smaller */
@media screen and (max-width: 900px) {
    main header {
        width: 100%;
        margin: 0 0 40px;
    }

    address {
        margin: 40px 10%;
    }

    .buttons {
        margin: 0 10%;
        padding: 3px;
        text-align: center;
    }
    
    .subject-item {
        padding: 0 2%;
    }

    .events > p {
        display: block;
    }

    .events > input {
        margin-left: 15%;
    }
}

/* 600px and smaller */
@media screen and (max-width: 600px) {
    address {
        margin: 40px 2%;
    }

    form {
        padding: 0 5%;
    }

    .full-name {
        clear: both;
    }

    .personnal-information > div {
        width: 90%;
    }
    
    .quantity {
        display: none;
    }

    .event-options {
        margin-left: 0;
    }
    
    .event-options > div {
        display: block;
        margin-left: 0;
    }
    
    .buttons > input {
        display: block;
        width: 80%;
        max-width: 150px;
        margin: 15px auto;
    }
}
