@import "base.css";

/* main section */

main {
    background: url(../images/pexels-pixabay-70846.jpg) no-repeat center/cover;
    width: 100%;
    position: relative;
}

main div {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 20%;
    left: 3%;
    width: 75%;
    overflow: hidden;
}

main header {
    border: none;
    position: static;
    background-color: white;
    text-align: center;
    padding: 25px;
}

.contact-details {
    float: left;
    width: 50%;
    height: 200px;
}

address {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.email-address {
    padding: 5px;
}

.map-em {
    float: left;
    width: 50%;
    height: 200px;
}

@media screen and (max-width: 900px) {
    main div {
        top: 20%;
        left: 15%;
    }

    h2 span {
        display: block;
    }

    .organic-food {
        text-align: left;
        padding-left: 10%;
    }
    
    .bio-farm {
        text-align: right;
        padding-right: 15%;
    }

    .contact-details {
        width: 100%;
    }

    .map-em {
        width: 100%;
        height: 300px;
    }

    address {
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    main {
        background: url(../images/pexels-pixabay-70846-mobile.jpg) no-repeat center/cover;
    }
    main div {
        width: 90%;
        top: 15%;
        left: 5%;
    }

    .organic-food {
        padding-left: 0;
    }
    
    .bio-farm {
        padding-right: 0;
    }
}