@import "base.css";

body {
    background: url(../images/pexels-pixabay-70846.jpg) no-repeat center/cover;
}

/* main section */
main div {
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 3%;
    width: 60%;
    overflow: hidden;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}

main header {
    border: none;
    background-color: white;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #0B6801;
}

.contact-details {
    float: left;
    width: 50%;
}

address {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
}

.email-address {
    padding: 5px;
}

.map-em {
    float: left;
    width: 50%;
    height: 130px;
}

/* media queries */

/* 900px and smaller */
@media screen and (max-width: 900px) {
    main div {
        margin-left: 5%;
        width: 80%;
    }

    h2 span {
        display: block;
    }

    .organic-food {
        text-align: left;
        padding-left: 10%;
    }
    
    .bio-farm {
        text-align: right;
        padding-right: 15%;
    }

    address {
        font-size: 14px;
        margin-top: 3px;
    }
}

/* 600px and smaller */
@media screen and (max-width: 600px) {
    body {
        background: url(../images/pexels-pixabay-70846-mobile.jpg) no-repeat center/cover;
    }

    main div {
        width: 90%;
    }

    .organic-food {
        text-align: center;
        padding-left: 0;
    }
    
    .bio-farm {
        text-align: center;
        padding-right: 0;
    }

    address {
        padding: 5px 0 10px 0;
    }
    
    .contact-details,
    .map-em {
    width: 100%;
    }
}
