@import "base.css";

/* main section */
main {
    background-color: rgba(255, 255, 255, 0.4);
}

main header {
    position: static;
    background-color: white;
    padding: 15px;
    border: 2px solid #0B6801;
    border-radius: 5px;
}

h2,
header > p,
summary {
    text-align: center;
}

h2 {
    padding-bottom: 15px;
}

summary em {
    cursor: pointer;
}

details p {
    padding-top: 15px;
}

/* price listing */
.product-list {
    text-align: center;
}

.available-products {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    padding: 15px 30px;
    font-weight: bold;
    border: 3px solid #0B6801;
    cursor: pointer;
    border-radius: 5px;
}

.price-listing {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

table {
    background-color: white;
    margin: 15px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

.our-eggs, 
.our-dairy-products,
.our-honey-based-products {
    grid-column: 2 / 3;
}

.our-vegetables {
    grid-column: 1 / 2;
}

table > caption {
    background-color: white;
}

th {
    padding: 2px 15px;
    border: 1px solid black;
}

td {
    border-top: 1px dashed black;
    padding: 2px 20px;
}

.left-align {
    text-align: left;
}

/* articles */
article {
    clear: both;
    position: relative;
    margin: 7% 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

.left-items {
    border-top-left-radius: 5%;
    box-shadow: 1px 1px 5px black;
}

.right-items {
    border-top-right-radius: 5%;
    box-shadow: -1px 1px 5px black;
}

article p {
    padding: 15px;
}

figure {
    width: 40%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.left-items figure {
    float: left;
    margin: -5% 15px 0 -5%;
    box-shadow: 1px 1px 5px black;
}

.right-items figure {
    float: right;
    margin: -5% -5% 0 15px;
    box-shadow: -1px 1px 5px black;
}

img {
    max-width: 100%;
    height: auto;
}

main section {
    padding: 15px;
    margin: 15px;
}

/* media queries */

/* 900px and smaller */
@media screen and (max-width: 900px) {
    main section {
        padding: 15px 0;
        margin: 15px 0;
    }

    table {
        margin: 15px 0;
    }

    .our-eggs, 
    .our-vegetables,
    .our-dairy-products,
    .our-honey-based-products {
        grid-column: 1 / 3;
    }
}

/* 600px and smaller */
@media screen and (max-width: 600px) {
    figure {
        display: none;
    }

    .left-items,
    .right-items {
        border-radius: 0;
    }
}
