@import "base.css";

body {
    background: url(../images/pexels-natalie-bond-1204998.jpg) no-repeat center center fixed;
}

/* main section */

main {
    padding: 160px 10% 110px;
    background-color: rgba(255, 255, 255, 0.7);
}

main header {
    background-color: white;
    width: 70%;
    padding: 15px;
    margin: 40px auto;
}

address {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 30px 25%;
    text-align: center;
}

.email-address {
    padding: 5px;
}

form {
    position: relative;
    padding-bottom: 80px;
}

form div {
    width: 46%;
    padding: 15px 2%;
}

form label {
    display: block;
    padding-bottom: 5px;
}

form input {
    line-height: 30px;
    margin: 3px 0;
    border: 2px solid #0B6801;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

form input:hover {
    line-height: 36px;
    margin: 0;
}

form input:focus {
    background-color: rgba(11, 104, 1);
    color: white;
}

.full-name {
    float: left;
}

.div-message {
    width: 96%;
}

.submit-btn,
.reset-btn {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    width: 150px;
    padding: 10px 0;
    border-radius: 5px;
}

.submit-btn {
    border: none;
    background-color: #0B6801;
    color: white;
    right: 28%;
}

.reset-btn {
    right: 3%;
}

.submit-btn:hover {
    font-size: 30px;
}

.reset-btn:hover {
    background-color: red;
}

@media screen and (max-width: 900px) {
    main {
        padding: 140px 10% 100px;
    }
    
    main header {
        width: 94%;
        margin: 40px auto;
    }
    
    address {
        margin: 40px 0;
    }

    .submit-btn {
        left: 15%;
    }
    
    .reset-btn {
        right: 15%;
    }
    
}

@media screen and (max-width: 600px) {
    main {
        padding: 100px 2% 110px;
    }
    
    form {
        padding-bottom: 150px;
    }

    form div {
        width: 96%;
    }
    
    .full-name {
        clear: both;
    }

    .submit-btn {
        bottom: 90px;
        left: 50%;
        margin-left: -75px;
    }
    
    .reset-btn {
        left: 50%;
        margin-left: -75px;
    }
    
}