@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

/* Reset default css properties */

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

h1, 
h2, 
h3 {
    font-family: 'Oleo Script Swash Caps';
    color: #0B6801;
}

/* header (logo + nav) */

.div-logo {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 4vw;
    height: 100px;
    width: 100%;
}

h1 {
    float: left;
    height: 50px;
    color: black;
}

h1 span {
    display: block;
}

.lila-f {
    color: #82007D;
}

.green-f {
    color: #0B6801;
}

.logo-fancy {
    margin: 15px 0 0 15px;
}

.logo-farmers {
    margin: -10px 0 0 50px;
}

/* footer */

footer {
    position: fixed;
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    bottom: 0;
    z-index: 2;
}

footer > section {
    margin-right: 15px;
    float: right;
}

footer li {
    float: left;
    width: 80px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
}

footer > p {
    float: left;
    line-height: 80px;
    padding-left: 15px;
    vertical-align: middle;
}

footer a {
    display: block;
    color: white;
}

footer a:hover {
    color: #82007D;
    background-color: white;
}

footer i {
    color: inherit;
}
