@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

/* Reset default css properties */

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

h1, 
h2, 
h3 {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #0B6801;
}

/* header (logo + nav) */

.big-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-top: 1px solid black;
}

.div-logo {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 4vw;
    height: 100px;
    width: 100%;
}

h1 {
    float: left;
    height: 50px;
    color: black;
}

.lila-f {
    color: #82007D;
}

.green-f {
    color: #0B6801;
}

.logo-fancy {
    display: block;
    margin: 15px 0 0 15px;
}

.logo-farmers {
    display: block;
    margin: -10px 0 0 50px;
}

.big-header nav {
    float: right;
    width: 70%;
    height: 80px;
    text-align: right;
    margin-top: -40px;
    overflow: hidden;
}

.menu-options li {
    float: left;
    width: 20%;
    height: 80px;
    font-size: 21px;
    background-color: black;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
}

.menu-options a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.active a {
    background-color: white;
    border: 2px solid #82007D;
    color: #82007D;
}

.big-header a {
    text-decoration: none;
}

.menu-options li:hover {
    color: #82007D;
    background-color: white;
    text-decoration: underline;
}

.menu-options a:hover {
    color: #82007D;
}

.menu-icon {
    display: none;
}

.big-header input {
    display: none;
}

/* footer */

footer {
    position: fixed;
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    bottom: 0;
    z-index: 2;
}

footer > section {
    margin-right: 15px;
    float: right;
}

footer li {
    float: left;
    width: 80px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
}

footer > p {
    float: left;
    line-height: 80px;
    padding-left: 15px;
    vertical-align: middle;
}

footer a {
    display: block;
    color: white;
}

footer a:hover {
    color: #82007D;
    background-color: white;
}

footer i {
    color: inherit;
}

/* media queries */

@media screen and (max-width: 900px) {
    .menu-icon {
        display: block;
        position: fixed;
        top: 80px;
        right: 100px;
        width: 80px;
        height: 80px;
        text-align: center;
        cursor: pointer;
        color: white;
        background-color: black;
        border: 2px solid white;
        border-radius: 3px;
        z-index: 9;
    }

    .big-header i {
        font-size: 40px;
        width: 100%;
        height: 100%;
    }
    
    .menu-icon i {
        line-height: 80px;
        vertical-align: middle;
    }
    
    .big-header i:hover {
        font-size: 50px;
    }

    .closing-icon {
        display: inline-block;
        width: 8%;
        height: 80px;
        line-height: 80px;
        vertical-align: middle;
        margin: 15px 46% 0;
        text-align: center;
        cursor: pointer;
        color: white;
        background-color: black;
        margin-bottom: 200px;
    }
    
    nav ul {
        position: fixed;
        top: 120px;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        color: white;
        background-color: black;
        line-height: 30px;
        vertical-align: middle;
        z-index: 5;
        overflow: scroll;
        max-height: 0;
        transition: max-height 0.5s ease-out;
    }

    .menu-options li {
        width: 100%;
        clear: both;
    }
    
    #hamburger-menu:checked ~ .menu-options {
        max-height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .div-logo {
        height: 80px;
        padding: 0 0 10px 4vw;
    }
        
    h1 {
        height: 30px;
    }

    .long-logo {
        display: none;
    }

    .logo-fancy {
        margin: 15px 0 0 40px;
    }
    
    .logo-farmers {
        margin: -25px 0 0 50px;
    }

    nav ul {
        top: 91px;
    }

    .menu-options li {
        font-size: 18px;
    }

    .menu-icon {
        top: 65px;
        right: 50px;
        width: 50px;
        height: 50px;
    }

    .menu-icon i {
        line-height: 50px;
        vertical-align: middle;
    }
    
    .big-header i {
        font-size: 25px;
    }
    
    .big-header i:hover {
        font-size: 30px;
    }

    footer {
        clear: both;
        height: 100px;
    }

    footer section {
        clear: both;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    footer li {
        line-height: 50px;
        width: 25%;
    }

    footer p {
        clear: both;
        width: 100%;
        line-height: 50px;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}