@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

/* Reset default css properties */

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}
