@import "base.css";

/* main section */
main {
    background-color: rgba(255, 255, 255, 0.4);
}

main div {
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}

h2 {
    padding: 10px;
}

main p {
    padding: 10px;
}
