@import "base.css";

body {
    background: url(../images/pexels-natalie-bond-1204998.jpg) no-repeat center center fixed;
}

/* main section */

main {
    padding: 250px 15% 110px;
    text-align: center;
}

main div {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 5px black;
}

h2 {
    padding: 10px;
}

p {
    padding: 10px;
}

@media screen and (max-width: 900px) {
    main div {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 110px 2% 0;
    }
}